.grid {
  margin: 0 auto;
  margin-top: 133px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  gap: 10px;
}

.acert {
  font: 14px verdana;
  margin-left: 1%;
  margin-top: 80px;
  color: #005eef;
}

.err {
  font: 14px verdana;
  margin-left: 1%;
  color: #ff0000cf;
}

.title {
  margin: 0;
  padding: 0;
  background: black;
  position: absolute;
  top: 6%;
  left: 21%;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ffff00,
    #ff00f3,
    #0033ff,
    #ff00c4,
    #ff0000
  );
  background-size: 400%;
  font-size: 70px;
  font-family: sans-serif;
  letter-spacing: 10px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.messageeq {
  font: 19px verdana;
  padding: 19px 60px;
  position: fixed;
  top: 75%;
  left: 32%;
  background: linear-gradient(
    90deg,
    #0033ff,
    #0033ff,
    #ff00f3,
    #0033ff,
    #0033ff,
    #ffff00
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 3px;
  color: #000000;
  animation: slidein 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.messageerr {
  font: 19px verdana;
  padding: 19px 60px;
  position: fixed;
  top: 75%;
  left: 30.2%;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff0000,
    #ff00c4,
    #ff0000,
    #ff0000,
    #ff0000
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 3px;
  color: #fff;
  animation: slidein 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.messageacer {
  font: 19px verdana;
  padding: 19px 60px;
  position: fixed;
  top: 75%;
  left: 29.7%;
  background: linear-gradient(
    90deg,
    #00ff15,
    #00ff15,
    #0033ff,
    #00ff15,
    #00ff15,
    #00ff15
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 3px;
  color: #fff;
  animation: slidein 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slidein {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.message::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: time 2s forwards;
}

@keyframes time {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.button-wrapper canvas {
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #00af8c;
   background-image: none;
   flex: 1;
   padding: 0.21em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   text-align: center,;
   border-radius: 0.12cm;
   margin-left: 86%;
   margin-top: 1%;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: var(--clr-grey-8);
  position: absolute;
  width: 99%;
  color: var(--clr-grey-6);
}
